.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light,
        $color-primary-dark);
    z-index: 1000;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    will-change: transform;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.8s ease, opacity 0.4s ease;
    will-change: transform, opacity;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {

    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg,
          transparent 0%,
          transparent 50%,
          $color-white 50%);
      background-size: 230%;
      transition: background-position 0.4s ease, color 0.4s ease, transform 0.4s ease;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked~&__background {
    transform: scale(70);
  }

  &__checkbox:checked~&__nav {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
      transition: transform 0.3s ease, background-color 0.3s ease;
      will-change: transform;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      transform: translateY(-0.8rem);
    }

    &::after {
      transform: translateY(0.8rem);
    }
  }

  &__button:hover &__icon::before {
    transform: translateY(-1rem);
  }

  &__button:hover &__icon::after {
    transform: translateY(1rem);
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    transform: rotate(-135deg);
  }
}